{% extends "blog-final-layout.html" %}

{% block content %}
    <p class="back"><a href="/blog-ecole" >Retour au blog</a></p>

    <div class="article">
        <p>Un nouveau mot de passe vous sera envoyé.</p>
        <form action="/blog-lost-password/" method="POST">
            <label for="email">Mail:</label><br>
            <input id="email" name="email" type="email" required><br>
            <br>
            <input type="submit" id="submit" value="Envoyer">
        </form>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message|safe }}</div>
        {% endfor %}
    </div>
<script src="/static/js/blog-hide.js"></script>

{% endblock %}