{% extends "blog-final-layout.html" %}

{% block content %}

<p class="back"><a href="/blog-ecole" >Retour au blog</a></p>

<div class="article">
    <p>suivisco.alwaysdata.net est hébergé par la société à responsabilité limitée ALWAYSDATA,
        ayant son siège social au 91 rue du Faubourg Saint-Honoré, 75008 Paris (tél. +33 1 84 16 23 40).</p>
    <br>
    <p>Ce blog utilise des cookies, servant à la production de statistiques anonymes et à l'authentification des utilisteurs, et utilisés exclusivement par suivisco.alwaysdata.net.</p>
    <p>Les adresses email des utilisateurs inscrits <del>sont vendues à des multinationales publicitaires</del> servent uniquement à la connection.</p>
    <p>Les utilisateurs peuvent à tout moment supprimer toutes les données les concernant.</p>
    <br>
    <p>L’espace d’ajout n’est accessible qu’aux personnes inscrites sur le blog.</p>
</div>

<script src="/static/js/blog-final-mentions.js"></script>


{% endblock %}