{% extends "layout.html" %}

{% block content %}
    <h2>{{ child }}</h2>

    <nav class="navbar navbar2">
        <ul>
            <li><a href="/enfant/observables/{{ child.id }}">Observables</a></li>
            <li><a href="/enfant/commentaires/{{ child.id }}">Commentaires</a></li>
            <li><a href="/enfant/bilan/{{ child.id }}">Bilan</a></li>
            <li><a href="/classe/{{ child.group() }}">Tous les {{ child.group() }}</a></li>
            </ul>
    </nav>
    <br>
    {% block child %}

    {% endblock %}

{% endblock %}