<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/css/login.css" />
        <title>Suivi</title>
	</head>

	<body>
        <section id="log">
            <h1>[...]</h1>
            <div>
                <form action="/login/" method="POST">
                    <input id="next" name="next" type="hidden" value="">
                    <label for="email">Mail:</label><br>
                    <input id="email" name="email" type="text"><br>
                    <label for="password">Mot de passe:</label><br>
                    <input id="password" name="password" type="password"><br>
                    <input type="submit" id="submit" value="Envoyer">
                </form>
                <a href="/lost-password">J'ai oublié mon mot de passe!</a>
                {% for message in get_flashed_messages() %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
            </div>
        </section>
        <canvas id="canvas" width="100%" height="600px"></canvas>
	</body>
    <script src="/static/js/arbres.js"></script>
</html>
