$log-color: rgba(255, 255, 255, 0.8);
$input-color: rgba(250, 255, 189, 0.8);

@mixin mobile-only {
    @media (max-device-width: 500px) {
        @content;
    }
}

body {
	margin: 0px;
	width: 100vw;
	min-height: 100vh;
	font-family: Typewriter;
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    @include mobile-only {
        display: none;
    }
}

#log {
    position: absolute;
    top: 20vh;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @include mobile-only {
        flex-direction: column;
        top: 10vh;
    }
    background-color: $log-color;
    padding: 3.5rem;
    z-index: 1;
}

h1 {
    font-size: 2rem;
    @include mobile-only {
        font-size: 4rem;
    }
}

label {
    font-size: 1.2rem;
    @include mobile-only {
        font-size: 3rem;
    }
}

input {
    margin-bottom: 0.8rem;
    border: none;
    border-bottom: 0.1rem solid black;
    padding: 0.8rem 1.5rem;
    background-color: $input-color;
    @include mobile-only {
        width: 50%;
        font-size: 3rem;
    }
}

input[type=submit] {
    margin-top: 0.8rem;
}